@font-face {
  font-family: 'iranyekan';
  src: url('~/assets/fonts/iranyekan/woff2/iranyekanwebregular.woff2') format('woff2'),
  url('~/assets/fonts/iranyekan/woff/iranyekanwebregular.woff') format('woff'),
  url('~/assets/fonts/iranyekan/ttf/iranyekanwebregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'iranyekan';
  src: url('~/assets/fonts/iranyekan/woff2/iranyekanweblight.woff2') format('woff2'),
  url('~/assets/fonts/iranyekan/woff/iranyekanweblight.woff') format('woff'),
  url('~/assets/fonts/iranyekan/ttf/iranyekanweblight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'iranyekan';
  src: url('~/assets/fonts/iranyekan/woff2/iranyekanwebbold.woff2') format('woff2'),
  url('~/assets/fonts/iranyekan/woff/iranyekanwebbold.woff') format('woff'),
  url('~/assets/fonts/iranyekan/ttf/iranyekanwebbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html,
body,
#__nuxt {
  font-family: 'iranyekan', sans-serif;
}

button,
input,
textarea,
select {
  font-family: inherit;
}
:root {
  --color-bg: #F6E9D9;
  --color-primary: #F2E9E4;
  --color-divider: #725444;
  --color-text: #5A403B;
  --color-lightText: #723A25;
  --color-border: #331104;
  --color-hover: #725444;
  --color-secondary: #FFFDD0;
  --color-accent: #D8D0A8;
  --color-background: #DECEBA;
  --color-card: #ffff;
  --color-cups: #271D1B;
  --color-delivery: #edd4b6;
  --color-menu: #FDF9F4;
  --color-items: rgb(241, 203, 157);
  --color-testimonial: #998a77;
  --color-input: rgba(250, 250, 250, 0.5);
  --color-navbar: #ae9c86;
  --color-backCup: #DECEBA;
  --color-cupHover: #5b341c;
  --color-liquid: #5b341c;
  --color-blueLine:rgb(0, 90, 238);
  --color-orangeLine:rgb(197, 113, 5);
  --color-purple:rgb(131, 22, 236);

}

.dark {
  --color-bg: #0C0908;        /* قهوه‌ای خیلی تیره (almost black coffee) */
  --color-card: #251C19;   /* کارت */
  --color-divider: #F2E9E4;   /* کارت */
  --color-text: #C9ADA7;      /* کرم روشن */
  --color-lightText: #BE9F93;     /* متن کم‌رنگ */
  --color-border: #bb9b89;    /* مرز */
  --color-hover: #271D1B;   /* طلایی گرم */
  --color-secondary: #F2E9E4; /* قهوه‌ای متوسط */
  --color-accent: #8F7265;
  --color-background:#3B302C;
  --color-cups: #EFDAD5;
  --color-delivery: #271D1B;
  --color-menu: #50423C;
  --color-items:rgb(88, 69, 62);
  --color-testimonial:#4b433a;
  --color-input:#9B8783;
  --color-navbar:#564843;
  --color-backCup:#6d523e;
  --color-cupHover:#ae734f;
  --color-liquid:#ae734f;

}

.light {
  --color-bg: #F6E9D9;        /* قهوه‌ای خیلی تیره (almost black coffee) */
  --color-card: #ffff;   /* کارت */
  --color-divider: #725444;   /* کارت */
  --color-text: #5A403B;      /* کرم روشن */
  --color-lightText: #723A25;     /* متن کم‌رنگ */
  --color-border: #331104;    /* مرز */
  --color-hover: #725444;   /* طلایی گرم */
  --color-secondary: #FFFDD0; /* قهوه‌ای متوسط */
  --color-accent: #D8D0A8;
  --color-background:#DECEBA;
  --color-cups: #271D1B;
  --color-delivery: #edd4b6;
  --color-menu: #FDF9F4;
  --color-items: rgb(241, 203, 157);
  --color-testimonial:#998a77;
  --color-input:rgba(250, 250, 250,0.5);
  --color-navbar:#ae9c86;
  --color-backCup:#DECEBA;
  --color-cupHover:#5b341c;
  --color-liquid:#5b341c;

}

.dark {
  .coffee-cup-color{
    fill: white;
  }
.card-des {
  border: 3px solid #1f1815;
}
  .card-des:hover {
    border: 3px solid #3a2924;
    box-shadow: 0 -7px 6px 0 #1d1b18;
    transition: all 0.5s;
  }

}
.light {
  .coffee-cup-color{
    fill: black;
  }
.card-des {
  border: 3px solid #7a5b3630;
  // transition: all 2s;
}
  .card-des:hover {
    border: 3px solid #edd4b6;
    box-shadow: 0 -7px 6px 0 #dbcfc1;
    transition: all 0.5s;
    /* transition: 1.5ms ease-in all; */
  }


}

.inner-nav {
  background: var(--color-background);
  opacity: 80%;
}

.main-button {
  background-color: var(--color-text) ;
  border-color: var(--color-text);
  color: white;

  &:hover {
    background-color: var(--color-lightText) !important;
    border: 0;
    color: white;
  }
}

.step-fade-enter-active,
.step-fade-leave-active {
  transition: all 0.35s ease;
}

.step-fade-enter-from {
  opacity: 0;
  transform: translateX(30px);
}

.step-fade-leave-to {
  opacity: 0;
  transform: translateX(-30px);
}
.step-fade-enter-active {
  transition-delay: 0.05s;
}
